In [2]:
from glob import iglob
import pandas as pd

path = r'../Tableau/data/*.csv'


all_rec = iglob(path, recursive=True)     
dataframes = (pd.read_csv(f) for f in all_rec)
big_dataframe = pd.concat(dataframes, ignore_index=True)

/Users/marylugranja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [3]:
big_dataframe.head()

,age,bikeid,birth year,birth_year,end station id,end station latitude,end station longitude,end station name,end_lat,end_lon,...,start station longitude,start station name,start_lat,start_lon,start_station_id,start_station_name,starttime,stoptime,tripduration,usertype
0,NaN,25577,1980.0,NaN,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,NaN,NaN,...,-73.998522,MacDougal St & Washington Sq,NaN,NaN,NaN,NaN,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,Subscriber
1,NaN,34377,1969.0,NaN,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,NaN,NaN,...,-73.990539,Cadman Plaza West & Montague St,NaN,NaN,NaN,NaN,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,Subscriber
2,NaN,30496,1975.0,NaN,3384.0,40.678724,-73.995991,Smith St & 3 St,NaN,NaN,...,-73.960940,1 Ave & E 62 St,NaN,NaN,NaN,NaN,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,Subscriber
3,NaN,28866,1984.0,NaN,3690.0,40.713342,-74.009355,Park Pl & Church St,NaN,NaN,...,-73.998512,St James Pl & Oliver St,NaN,NaN,NaN,NaN,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,Subscriber
4,NaN,20943,1994.0,NaN,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,NaN,NaN,...,-73.997044,W 13 St & 6 Ave,NaN,NaN,NaN,NaN,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,Customer

In [5]:
big_dataframe.shape

(19480811, 26)

In [6]:
df = big_dataframe.dropna()

In [7]:
df.shape

(0, 26)

In [8]:
gender_df= df.groupby('gender').count()[['bikeid']]
gender_df

Empty DataFrame
Columns: [bikeid]
Index: []

In [9]:
usertype_df= df.groupby('usertype').count()[['bikeid']]
usertype_df

Empty DataFrame
Columns: [bikeid]
Index: []

In [10]:
clean_df = df

In [11]:
clean_df.shape

(0, 26)

In [12]:
clean_df.columns

Index(['age', 'bikeid', 'birth year', 'birth_year', 'end station id',
       'end station latitude', 'end station longitude', 'end station name',
       'end_lat', 'end_lon', 'end_station_id', 'end_station_name', 'gender',
       'gender_2', 'start station id', 'start station latitude',
       'start station longitude', 'start station name', 'start_lat',
       'start_lon', 'start_station_id', 'start_station_name', 'starttime',
       'stoptime', 'tripduration', 'usertype'],
      dtype='object')

In [13]:
clean_df.rename(columns={'start station id':'start_station_id',
                          'start station name':'start_station_name',
                         'start station latitude': 'start_station_latitude',
                         'start station longitude': 'start_station_longitude',
                         'end station id': 'end_station_id',
                         'end station name': 'end_station_name',
                         'end station latitude': 'end_station_latitude',
                         'end station longitude':'end_station_longitude',
                         'birth year':'birth_year'},  inplace=True)

/Users/marylugranja/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [14]:
clean_df.columns

Index(['age', 'bikeid', 'birth_year', 'birth_year', 'end_station_id',
       'end_station_latitude', 'end_station_longitude', 'end_station_name',
       'end_lat', 'end_lon', 'end_station_id', 'end_station_name', 'gender',
       'gender_2', 'start_station_id', 'start_station_latitude',
       'start_station_longitude', 'start_station_name', 'start_lat',
       'start_lon', 'start_station_id', 'start_station_name', 'starttime',
       'stoptime', 'tripduration', 'usertype'],
      dtype='object')

In [15]:
export_csv = clean_df.to_csv (r'../Tableau/Citi_data.csv', index = None, header=True)